* {
  margin: 0;
  padding: 0;
}

main {
  background-color: #5058f5;
  width: 400px;
  height: 400px;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

header {
  margin-bottom: 30px;
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  width: 100%;
  font-size: 12px;
}

.input-wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.currency-button {
  background-color: #7988fc;
  color: whitesmoke;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

section.text-info {
  text-align: center;
  font-size: 12px;
}

p.actually-rate {
  font-weight: 600;
  margin-top: 15px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#sell-or-buy {
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  text-align: center;
}

#sell-or-buy:hover {
  font-size: 15px;
  padding: 8px 0;
}
